.section-one__text:not(:last-child) {
    margin-bottom: 35px;
}

.section-one__img--1,
.section-one__block-right {
    display: inline-block;
    vertical-align: top;
}

.section-one__block-right {
    max-width: 490px;
}

.section-one__img--1 {
    margin-bottom: 35px;
    margin-right: 30px;
}

.section-one__img--2,
.section-one__block-left {
    display: inline-block;
    vertical-align: top;
}

.section-one__block-left {
    max-width: 480px;
    margin-right: 30px;
}